{% extends "layout.html" %}

{% block content %}
    <form action="" method="POST" id="ask-question-form" class="mt-10 mx-3">
        {% csrf_token %}
        <h1 class="text-lg text-tertiary-dark dark:text-tertiary-light"></h1>
        <Textarea placeholder="Type here..." name="quest" class="w-full mt-3 h-40" id="text"></Textarea>
        <div class="flex gap-5 mt-3">
            <button type="submit" class="p-2 font-bold rounded-lg bg-[#68c2ef] hover:bg-[#38b4f2] text-white">Submit</button>
            <a href="{% url 'forums' %}" class="w-18 py-2 text-center rounded-lg text-tertiary-dark dark:text-tertiary-light">Cancel</a>
        </div>
        <div id="message" style="display: none;" class="bg-[#68c2ef] flex h-10 items-center justify-center rounded-2xl m-5 opacity-50 text-white">
            <p class="font-semibold">Drag the bottom left corner to adjust the size.</p>
        </div>
    </form>
    <script>
        document.cookie = "user_timezone=" + Intl.DateTimeFormat().resolvedOptions().timeZone + ";path=/";
        document.getElementById("ask-question-form").addEventListener("submit", function () {
            setTimeout(() => {
                window.location.href = "{% url 'forums' %}";
            }, 100);
        })
        const text = document.getElementById("text");
        window.addEventListener("pageshow", function (event) {
            if (!text) return;
        
            // Clear only if navigating back
            const navType = performance.getEntriesByType("navigation")[0]?.type;
            if (event.persisted || navType === "back_forward") {
              text.value = "";
            }
          });
          msg = document.getElementById('message')
          text.addEventListener('input',()=>{
            if (text.value.length>400){
                msg.style.display = "flex";
                setTimeout(()=>{
                    msg.style.display = "none";
                },5000)
            }
            
          })
          
    </script>
{% endblock %}

