{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="pb-4">
            <div class="flex justify-center px-5">
                {% if user.is_authenticated %}
                    <a href="{% url 'ask_question' %}" class="rounded-sm p-2 flex w-max justify-self-center items-center bg-[#68c2ef] hover:bg-[#38b4f2]">
                        <p class="font-bold text-white">ASK A QUESTION</p> 
                    </a>
                {% endif %}
            </div>
            {% for post in object_list %}
            <a href="{% url "question_detail" post.pk %}" class="">
                <div class="border border-gray-600 m-3 p-3 pb-0 text-primary-dark dark:text-primary-light bg-tertiary-light dark:bg-tertiary-dark">
                    <h6 class="text-blue-400"><B>{{ post.owner }}</B></h6>
                    <h2 class="break-words m-1">
                        {{ post.body }}
                    </h2>
                    <div class="flex justify-between items-center text-[#3b4246]">
                        <h6 class="text-xs mb-1">{{ post.time }} | {{ post.date }}</h6>
                        {% if user.is_authenticated %}
                            <a class="self-end" href="{% url "question_detail" post.pk %}">Reply </a>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
            {% if is_paginated %}
                <div class="flex justify-between items-center text-sm text-gray-400 my-4">
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">← Previous</a>
                    {% else %}
                    <span></span>
                    {% endif %}

                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next →</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                </div>
            {% endif %}
    </div>
    <script>
        
    </script>
{% endblock %}