{% extends 'layout.html' %}
{% load static %}
{% block content %}
  {% for item in items %}
    <div class="border border-gray-600 p-4 mb-3 bg-tertiary-light dark:bg-tertiary-dark">
      <h2 class="font-semibold text-blue-400">{{ item.owner }}</h2>
      <p class="text-sm text-black dark:text-secondary-light break-words">{{ item.body }}</p>
    </div>
  {% empty %}
    <p class="text-gray-400 text-center">No results found.</p>
  {% endfor %}
  <a href="{% url 'forums' %}" class="text-[#68c2ef]">←Back</a>
{% endblock content %}