{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div id="container">
        {% for post in object_list %}
            {% if user == post.owner %}
                <div class="grid grid-flow-col grid-cols-12 items-center gap-5 self-center mx-10">
                    <a href="{% url "question_detail" post.pk %}" class="col-span-10">
                        <div class="p-3 w-md text-wrap rounded-lg ">
                            <p class="break-words text-tertiary-dark dark:text-tertiary-light">{{ post.body }}</p>
                            <div class="">
                                <p class="text-[#3b4246] text-md">{{ post.time }} {{ post.date }}</p>
                            </div>
                        </div>
                    </a>
                    <div class="col-span-2"><a href="{% url "delete_post" post.pk %}"><img src="{% static 'trash.png' %}" alt="delete" class="w-10 h-10"></a></div>
                </div>
                <hr class="mb-7">
            {% endif %}
        {% endfor %}
            {% if is_paginated %}
                <div class="flex justify-between items-center text-sm text-gray-400 mt-4">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">← Previous</a>
                    {% else %}
                        <span></span>
                    {% endif %}

                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next →</a>
                    {% else %}
                        <span></span>
                    {% endif %}
                </div>
            {% endif %}

    </div>
<script>
    const container = document.getElementById('container')
    if (container.textContent.trim()===""){
        container.textContent = "<center><h1 class="text-white text-3xl">No posts yet</h1></center>"
    }
</script>
{% endblock %}