{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div class="flex p-10 items-center justify-between gap-5 rounded-xl">
            <img src="{{ user.profile.image.url }}" alt="" class="w-40 h-40 rounded-full">
            <div>
                <h2 class="text-3xl text-[#68c2ef] font-bold text-right">{{ user.username }}</h2>
                <p class="text-xl text-[#68c2ef] font-bold text-right">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" class="p-5 rounded-xl">
            {% csrf_token %}
            <h1 class="text-3xl font-bold my-5  text-[#68c2ef]">Update Information</h1>
            <div class="mb-4">
                <label for="{{ u_form.username.id_for_label }}" class="block font-medium  text-tertiary-dark dark:text-tertiary-light">Username</label>
                {{ u_form.username }}
            </div>
            <div class="mb-4">
                <label for="{{ u_form.email.id_for_label }}" class="block font-medium  text-tertiary-dark dark:text-tertiary-light">Email</label>
                {{ u_form.email }}
            </div>
            <div class="flex flex-col  text-tertiary-dark dark:text-tertiary-light">
                <label for="{{ p_form.image.id_for_label }}" class="block font-medium  text-tertiary-dark dark:text-tertiary-light">Profile Image</label>
                {{ p_form.image }}
            </div>
        
            <div class="flex justify-between mt-4">
                <button class="px-4 py-1 font-bold rounded-lg bg-[#68c2ef] hover:bg-[#38b4f2] text-white">Update</button>
                <a href="{% url 'forums' %}" class="px-3 py-1 font-bold rounded-lg bg-[#ef6868] hover:bg-[#f23838] text-white">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}