@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-glow {
      text-shadow: 0 0 4px #A8E6CF, 0 0 3px #A8E6CF, 0 0 4px #A8E6CF;
    }
    .fade-sides {
        mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
      }
  }

