{% extends 'layout.html' %}
{% block content %}
<div class="grid grid-cols-2 w-[70vw] h-[75vh] place-self-center mt-10 gap-5">
    <div class="flex justify-between flex-col border col-span-1 border-gray-600 p-2 pb-0 text-primary-dark dark:text-primary-light bg-tertiary-light dark:bg-tertiary-dark">
        <div>
            <p class="w-max rounded-lg rounded-b-none font-bold text-blue-400"> {{ post.owner }}</p>
            <h2 class="rounded-lg rounded-tl-none break-words text-lg m-4 text-tertiary-dark dark:text-tertiary-light">{{ post.body }}</h2>
            <h6 class="text-xs text-[#5b5d5e]">{{ post.time }} | {{ post.date }}</h6>
        </div>
        <form  method="POST" id="replyform" class="col-span-1 m-4">
            {% csrf_token %}
            <textarea placeholder="Type here ..." class="w-full resize-none rounded-xl text-black" name="reply" id="reply"></textarea>
            <div class="flex items-center justify-between mt-3">
                <button class="px-4 py-1 font-bold rounded-lg bg-[#68c2ef] hover:bg-[#38b4f2] text-white">Send</button>
                <button class="px-3 py-1 font-bold rounded-lg bg-[#ef6868] hover:bg-[#f23838] text-white" onclick="document.getElementById('reply').value=''">Cancel</button>
            </div>
        </form>
    </div>
    <div class="overflow-y-auto border border-gray-600 p-2 bg-tertiary-light dark:bg-tertiary-dark">
        <h2 class="my-2 col-span-1 font-bold text-tertiary-dark dark:text-tertiary-light">Replies: </h2>
        <p class="absolute -z-10 mx-56 text-xl text-[#68c2ef] m-5">Be the first one to reply!</p>
        {% for reply in post.replys.all %}
                <div class=" p-2 text-primary-dark dark:text-primary-light ">
                    <h1 class="text-blue-400">{{ reply.owner}}</h1>
                    <p class="break-words">{{ reply }}</p>
                    <h6 class="text-xs text-right text-secondary-dark dark:text-secondary-light">{{ reply.time }} | {{ reply.date }}</h6>
                </div>
                <hr class="my-1 h-px border-0 bg-gray-400">
        {% endfor %}
    </div>
    <a href="{% url 'forums' %}" class=" text-[#68c2ef] hover:text-[#38b4f2]">← Back</a>
</div>
<script>
    document.cookie = "user_timezone=" + Intl.DateTimeFormat().resolvedOptions().timeZone + ";path=/";
    document.getElementById("ask-question-form").addEventListener("submit", function () {
        setTimeout(() => {
            window.location.href = "{% url 'forums' %}";
        }, 100);
    })
</script>    

{% endblock content %}
