{% load static %}
{% load static tailwind_tags %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lokamom</title>

    {% tailwind_css %}
    <style>
        input[type="text"],
        textarea {
            background-color: #fff !important;
            color: #000 !important;
            border: 1px solid #555;
        }

</style>
  </head>
  <body
    class="text-opacity-90 overflow-x-hidden font-sans antialiased min-h-screen bg-gradient-to-br from-green-100 via-white to-green-200"
    style="
      background-image: url({% static 'greenbg.png' %});
      background-size: cover;
      background-repeat: repeat;
      background-position: center;
    "
  >
    <header
      class="w-full flex justify-between items-center p-4"
    >
      <a
        href="{% url 'home' %}"
        class="text-2xl font-bold text-[#004D40] tracking-tight drop-shadow-lg"
        >Lokamom</a
      >
      <nav class="flex items-center justify-between gap-10">
        {% if user.is_authenticated %}
        <select
          class="appearance-none bg-green-50  font-bold p-2 rounded shadow-sm focus:ring-2 focus:ring-green-400 transition"
          name="profile-select"
          id="select"
          onchange="navigate()"
          title="{{user.username}}"
        >
          <option value="" class="hidden">{{user.username}}</option>
          <option value="{% url 'yourProfile' %}">Profile</option>
          <option value="{% url 'yourPosts' %}">Posts</option>
          <option value="{% url 'logout' %}" class="text-red-700">
            Logout ↪
          </option>
        </select>
        {% else %}
        <div>
          <a
            class="font-bold text-green-800 hover:underline"
            href="{% url 'login' %}"
            >Login</a
          >
          |
          <a
            class="font-bold text-green-800 hover:underline"
            href="{% url 'register' %}"
            >Register</a
          >
        </div>
        {% endif %}
        <button id="menu-button" class="focus:outline-none">
          <!-- Hamburger icon -->
          <svg
            class="w-7 h-7 text-green-800"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
      </nav>
    </header>
    <div id="dropdown-menu" class="absolute top-16 right-0 text-center z-10 bg-green-100/80 backdrop-blur-xl shadow-lg shadow-[#A8E6CF] rounded-md p-4 space-y-2 transition-all duration-300 ease-in-out transform scale-95 opacity-0 pointer-events-none w-44 h-screen">
      <a
        href="{% url 'about' %}"
        class="block font-semibold text-green-900 hover:text-green-700 transition"
        >About</a
      >
      <hr class="border-green-700" />
      <a
        href="{% url 'articles' %}"
        class="block font-semibold text-green-900 hover:text-green-700 transition"
        >Articles</a
      >
      <hr class="border-green-700" />
      <a
        href="{% url 'forums' %}"
        class="block font-semibold text-green-900 hover:text-green-700 transition"
        >Forums</a
      >
      <hr class="border-green-700" />
      <a
        href="#"
        class="block font-semibold text-green-900 hover:text-green-700 transition"
        >Women in spotlight</a
      >
      <hr class="border-green-700" />
      <a
        href="#"
        class="block font-semibold text-green-900 hover:text-green-700 transition">Work/Career</a>
      <hr class="border-green-700" />
      <a
        href="#"
        class="block font-semibold text-green-900 hover:text-green-700 transition"
        >Sessions</a
      >
      <hr class="border-green-700" />
      <a
        href="#"
        class="block font-semibold text-green-900 hover:text-green-700 transition"
        >Contribute</a
      >
      <hr class="border-green-700" />
    </div>
    <div class="p-5 flex flex-col items-center justify-center">
      {% if messages %} {% for m in messages %} {% if "error" in m|stringformat:"s" %}
      <div class="max-w-lg border border-red-500 px-4 py-3 rounded relative bg-red-50 text-black dark:bg-tertiary-dark dark:text-white shadow">
        <span class="block sm:inline">{{ m }}</span>
      </div>
      {% else %}
        <div class="max-w-lg border border-green-500 px-4 py-3 rounded relative bg-green-50 text-black dark:bg-tertiary-dark dark:text-white shadow">
            <span class="block sm:inline">{{ m }}</span>
        </div>
      {% endif %} {% endfor %} {% endif %}
      <div class="md:w-3/4 w-full max-w-3xl justify-self-center">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
  <script>
    document.cookie =
      "user_timezone=" +
      Intl.DateTimeFormat().resolvedOptions().timeZone +
      ";path=/";

    function navigate() {
      const select = document.getElementById("select");
      const url = select.value;
      if (url) {
        window.location.href = url;
      }
    }

    const menuButton = document.getElementById("menu-button");
    const dropdownMenu = document.getElementById("dropdown-menu");

    menuButton.addEventListener("click", () => {
      const isHidden = dropdownMenu.classList.contains("opacity-0");

      if (isHidden) {
        dropdownMenu.classList.remove(
          "opacity-0",
          "scale-95",
          "pointer-events-none"
        );
        dropdownMenu.classList.add("opacity-100", "scale-100");
      } else {
        dropdownMenu.classList.remove("opacity-100", "scale-100");
        dropdownMenu.classList.add(
          "opacity-0",
          "scale-95",
          "pointer-events-none"
        );
      }
    });
  </script>
</html>
